nav  {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(156, 212,
    224, 1) 42%, rgba(76, 77, 79, 1) 100%);
    color: #F7F0C6;
}
nav a{
    color:#F7F0C6
}
li a{
    color: #F7F0C6;
}
nav li a{
    color: #F7F0C6;
}
btn {
    background-color: #5d7599;
}
.header {
    width: 100%;
    height: 25vh;
    background-image: url(/images/techsports.jpg);
    background-position: center;
    background-size: cover;
    }
.footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(156, 212,
    224, 1) 42%, rgba(76, 77, 79, 1) 100%);
    color: #F7F0C6;
    padding: 4rem 1rem;
    }
    
.footer a {
    color: #F7F0C6;
    text-decoration: none;
    transition: color 0.3s;
    }
    
    /*On hover changes coour to grey*/
.footer a:hover {
    color: grey;
    }
    
.container {
    max-width: 1200px;
    margin: 0 auto;
    
    }
    
.footer-main {
    display: flex;
    margin-bottom: 4rem;
    }
    
.col {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    }
    
.footer-heading {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    }
    
.address {
    font-size: 30px;
    }
    
.footer-link {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 30px;
    }
    
    /*This gives a hover effect as you point to the website*/
.footer-link :hover {
    color: #F7F0C6;
    transition: color 0.3s ease;
    padding-left: 6px;
    }
    
.copyright {
    display: block;
    text-align: center;
    margin-right: auto;
    }
    
.social-icons {
    font-size: 30px;
    margin: 0 15px 15px 0;
    color: #F7F0C6;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    }
    
.social-icons>a:hover {
    color: #F7F0C6;
    transition: color 0.3s ease;
    padding-left: 6px;
    }
    